@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Karla', sans-serif;
}

body{
    background-color: hsl(148, 38%, 91%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

.container{
    width: 100%;
    height: auto;
    max-width: 300px;
    padding: 14px;
    margin: 30px;
    border-radius:15px;
    background-color: hsl(0, 0%, 100%);
}

h1{
    color: hsl(187, 24%, 22%);
    margin-bottom: 2rem;
    font-size: 2rem;
}

h2{
    color: hsl(187, 24%, 22%);
    margin: .5rem 0rem .5rem 0rem;
    font-size: 0.75rem;
}

h2 >span{
    color:hsl(186, 15%, 59%);
}

input, textarea {
    width: 100%;
    height: 45px;
    padding: 10px;
    font-size: 1rem;
    border: 1.75px solid hsl(186, 15%, 59%);
    border-radius: 5px;
}


input:focus {
    outline: none;
    border: 1.75px hsl(187, 24%, 22%);
}

textarea {
    height: 180px;
    resize: vertical; 
}

.query-check {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }
  
.query-option {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

  
.query-option input {
    accent-color: #008080; 
    width: 18px;
    height: 18px;
    border: 1.75px solid hsl(186, 15%, 59%);
}
.message >textarea{
    width: 100%;
    height: 180px;
    border: 1.75px solid hsl(186, 15%, 59%);
}
.consent{
    display: flex;
    flex-direction: row;
    margin-top: 24px;
}
.consent >input{
    width: 18px;
    height: 18px;
    margin-right: 10px;
}
.consent P{
    
    color: hsl(187, 24%, 22%);
}
.message >textarea{
    width: 100%;
    height: 250px;
    border: 1.75px solid hsl(186, 15%, 59%);
    text-decoration: none;
    border: 1px solid hsl(186, 15%, 59%);
    
}label{
    border: 1.75px solid hsl(186, 15%, 59%);
}

button{
    width: 100%;
    height: 45px;
    margin-top: 2rem;
    background-color: hsl(169, 82%, 27%);
    color: hsl(0, 0%, 100%);
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}