*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(210, 20%, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 375px;
    width: 100%;
    border: 1px solid black;
}

.attribution {
    margin-top: 20px;
    text-align: center; 
    font-size: 14px;
}
