@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    min-height: 100vh;
    font-family: 'Libre Franklin', sans-serif;
    overflow-y: hidden;
  }
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    max-height: 1440px;
    height: 90vh;
    border: 1px solid black;

}
h1{
    color: hsl(0, 0%, 59%);

    & span{
        color: hsl(209, 33%, 12%)
    }
}
.notify{
    display: flex;
}
.dashboard img{
    width: 650px;
    height:100%;
}